@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');

@media only screen and (min-width: 480px) {
  .countdown {
    font-size: 50px;
  }
}

@media only screen and (min-width: 768px) {
  .countdown {
    font-size: 75px;
  }
}

@media only screen and (min-width: 1024px) {
  .countdown {
    font-size: 100px;
  }
}

@media only screen and (min-width: 1200px) {
  .countdown {
    font-size: 125px;
  }
}

.main-page-countdown {
  font-family: 'Titillium Web', sans-serif !important;
  font-weight: 700;
}