@media only screen and (max-width: 400px) {
  .leaflet-container {
    width: 350px;
    height: 250px;
  }
}

@media only screen and (min-width: 401px) {
  .leaflet-container {
    width: 385px;
    height: 250px;
  }
}

@media only screen and (min-width: 992px) {
  .leaflet-container {
    width: 850px;
    height: 400px;
  }
}
