@media only screen and (max-width: 800px) {
  .leaflet-container {
    width: 320px;
    height: 250px;
  }
}

@media only screen and (min-width: 992px) {
  .leaflet-container {
    width: 650px;
    height: 250px;
  }
}