a {
  text-decoration: none;
}

.navbar {
  margin-bottom: 5px;
}

.text-link:hover {
  text-decoration: underline;
  text-decoration-color: #e10600;
  text-decoration-thickness: 3px;
}

.icon-link:hover {
  opacity: 0.5;
}

.dark-mode-toggle {
  margin-top: 15%;
}