@media only screen and (max-width: 500px) {
  .title {
    margin-top: 1px;
  }
}

@media only screen and (min-width: 992px) {
  .title {
    margin-top: 5px;
  }
}

.third-info {
  width: 20%;
}

.icon {
  width: 15%;
}
