footer {
  background-color: #212529;
  padding: 15px 5px;
  margin-top: 1%;
  position: absolute;
  width: 100%;
  min-height: 16.1%;
  color: #bbb;
}

.info {
  color: white;
  font-size: small;
}

#lastRow {
  margin-top: 1%;
  border-top: 1px solid white;
}

#author {
  margin-top: 15%;
}

#row {
  margin-top: 1%;
}
