@media only screen and (max-width: 480px) {
  .hideXS {
    display: none;
  }

  .row-stats {
    font-size: 17px;
  }

  .clickable-row {
    font-size: 17px;
    cursor: pointer;
  }
}

@media only screen and (min-width: 481px) {
  .showXS {
    display: none;
  }

  .row-stats {
    font-size: 25px;
  }

  .clickable-row {
    font-size: 25px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 500px) {
  .table-width {
    width: 100%;
  }
}

.standings-table {
  overflow: hidden;
  border-radius: 15px;
}

.no-wrap {
  white-space: nowrap;
}

.countdown-font {
  font-size: 65px;
}

.countdown-font-small {
  font-size: 17px;
}

@media only screen and (min-width: 769px) {
  .countdown-font {
    font-size: 65px;
  }
}

@media only screen and (max-width: 768px) {
  .countdown-font {
    font-size: 40px;
  }
}
