@media only screen and (max-width: 480px) {
  .hideXS {
    display: none;
  }
}

@media only screen and (min-width: 481px) {
  .showXS {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .table-width {
    width: 100%;
  }
}

@media only screen and (min-width: 501px) {
  .table-width {
    width: 75%;
    margin: auto;
  }
}
